# Python Data Structure Methods

String
List
Tuple
Dictionary
Set

dir(str)
dir(list)
dir(tuple)
dir(dict)
dir(set)

## String

In [1]:
a = "Hello World, My name is Numan Malik"

In [2]:
type(a)

str

In [3]:
len(a)

35

In [4]:
a1 = 'Hi'

In [5]:
a2 = 'Numan'

In [6]:
a1 + a2

'HiNuman'

In [7]:
a1 +' '+ a2

'Hi Numan'

In [8]:
a1*20

'HiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHiHi'

In [9]:
list(a)

['H',
 'e',
 'l',
 'l',
 'o',
 ' ',
 'W',
 'o',
 'r',
 'l',
 'd',
 ',',
 ' ',
 'M',
 'y',
 ' ',
 'n',
 'a',
 'm',
 'e',
 ' ',
 'i',
 's',
 ' ',
 'N',
 'u',
 'm',
 'a',
 'n',
 ' ',
 'M',
 'a',
 'l',
 'i',
 'k']

In [10]:
tuple(a)

('H',
 'e',
 'l',
 'l',
 'o',
 ' ',
 'W',
 'o',
 'r',
 'l',
 'd',
 ',',
 ' ',
 'M',
 'y',
 ' ',
 'n',
 'a',
 'm',
 'e',
 ' ',
 'i',
 's',
 ' ',
 'N',
 'u',
 'm',
 'a',
 'n',
 ' ',
 'M',
 'a',
 'l',
 'i',
 'k')

In [11]:
set(a)

{' ',
 ',',
 'H',
 'M',
 'N',
 'W',
 'a',
 'd',
 'e',
 'i',
 'k',
 'l',
 'm',
 'n',
 'o',
 'r',
 's',
 'u',
 'y'}

In [12]:
a.capitalize()

'Hello world, my name is numan malik'

In [13]:
a.split()

['Hello', 'World,', 'My', 'name', 'is', 'Numan', 'Malik']

In [14]:
a.split(',')

['Hello World', ' My name is Numan Malik']

In [15]:
a.upper()

'HELLO WORLD, MY NAME IS NUMAN MALIK'

In [16]:
a.lower()

'hello world, my name is numan malik'

In [17]:
a.title()

'Hello World, My Name Is Numan Malik'

In [18]:
a.strip()

'Hello World, My name is Numan Malik'

In [19]:
'hello' in a

False

In [20]:
'Hello' in a

True

In [21]:
'hello' not in a

True

In [22]:
a.casefold()

'hello world, my name is numan malik'

In [23]:
a.center(100)

'                                Hello World, My name is Numan Malik                                 '

In [24]:
a.count('l')

4

In [25]:
a.encode()

b'Hello World, My name is Numan Malik'

In [26]:
a.startswith('H')

True

In [27]:
a.startswith('W')

False

In [28]:
a.endswith('k')

True

In [29]:
a.endswith('o')

False

In [30]:
a.expandtabs()

'Hello World, My name is Numan Malik'

In [31]:
a.find('e')

1

In [32]:
a.find('ello')

1

In [33]:
a.format()

'Hello World, My name is Numan Malik'

In [34]:
a.format_map(10)

'Hello World, My name is Numan Malik'

In [35]:
a.index('W')

6

In [36]:
aa= '10'

In [37]:
aa.isdigit()

True

In [38]:
' '.join(a)

'H e l l o   W o r l d ,   M y   n a m e   i s   N u m a n   M a l i k'

In [39]:
a.partition(',')

('Hello World', ',', ' My name is Numan Malik')

In [40]:
a.partition(' ')

('Hello', ' ', 'World, My name is Numan Malik')

In [41]:
a.swapcase()

'hELLO wORLD, mY NAME IS nUMAN mALIK'

In [42]:
a.zfill(50)

'000000000000000Hello World, My name is Numan Malik'

In [43]:
a.replace('Hello', 'hell')

'hell World, My name is Numan Malik'

In [44]:
a.rfind('l')

32

## List

In [45]:
l= [1,2,3,4,5]

In [46]:
l+l

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [47]:
l*4

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [48]:
l.append(10)

In [49]:
l

[1, 2, 3, 4, 5, 10]

In [50]:
len(l)

6

In [51]:
ll = [1,3,4]

In [52]:
ll.clear()

In [53]:
ll

[]

In [54]:
l

[1, 2, 3, 4, 5, 10]

In [55]:
ll = l.copy()

In [56]:
ll

[1, 2, 3, 4, 5, 10]

In [57]:
l

[1, 2, 3, 4, 5, 10]

In [58]:
l.count(2)

1

In [59]:
l.extend([2,3])

In [60]:
l

[1, 2, 3, 4, 5, 10, 2, 3]

In [61]:
l.extend([1,[1,2]])

In [62]:
l

[1, 2, 3, 4, 5, 10, 2, 3, 1, [1, 2]]

In [63]:
l.insert(10,10)

In [64]:
l

[1, 2, 3, 4, 5, 10, 2, 3, 1, [1, 2], 10]

In [65]:
l.insert(1,20000)

In [66]:
l

[1, 20000, 2, 3, 4, 5, 10, 2, 3, 1, [1, 2], 10]

In [67]:
l.insert(2,[1,0,0])

In [68]:
l

[1, 20000, [1, 0, 0], 2, 3, 4, 5, 10, 2, 3, 1, [1, 2], 10]

In [69]:
l.pop()

10

In [70]:
l

[1, 20000, [1, 0, 0], 2, 3, 4, 5, 10, 2, 3, 1, [1, 2]]

In [71]:
l.remove(5)

In [72]:
l

[1, 20000, [1, 0, 0], 2, 3, 4, 10, 2, 3, 1, [1, 2]]

In [73]:
l.reverse()

In [74]:
l

[[1, 2], 1, 3, 2, 10, 4, 3, 2, [1, 0, 0], 20000, 1]

In [75]:
from nltk import flatten

In [76]:
flatten(l)

[1, 2, 1, 3, 2, 10, 4, 3, 2, 1, 0, 0, 20000, 1]

In [77]:
l

[[1, 2], 1, 3, 2, 10, 4, 3, 2, [1, 0, 0], 20000, 1]

In [78]:
import numpy as np

In [79]:
np.ravel(l)

array([list([1, 2]), 1, 3, 2, 10, 4, 3, 2, list([1, 0, 0]), 20000, 1],
      dtype=object)

## Tuple

In [80]:
t = (1,2,3)

In [81]:
t.count(1)

1

In [82]:
t.index(1)

0

In [83]:
t+t

(1, 2, 3, 1, 2, 3)

In [84]:
t*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

## Dictionary

In [85]:
d = {'a':10, 'b':20, 'c':30}

In [86]:
d.keys()

dict_keys(['a', 'b', 'c'])

In [87]:
d.values()

dict_values([10, 20, 30])

In [88]:
d.items()

dict_items([('a', 10), ('b', 20), ('c', 30)])

In [89]:
d.update({'aa':100})

In [90]:
d

{'a': 10, 'b': 20, 'c': 30, 'aa': 100}

In [91]:
d.get('a')

10

In [92]:
d['a']

10

In [93]:
d.setdefault('aa')

100

In [94]:
dd = {'ab': range(10)}

## Set

In [95]:
s={1,2,3,4,5,55,5}

In [96]:
s

{1, 2, 3, 4, 5, 55}

In [97]:
s.add(10)

In [98]:
s

{1, 2, 3, 4, 5, 10, 55}

In [99]:
s2 ={2,3,4}

In [100]:
s.union(s2)

{1, 2, 3, 4, 5, 10, 55}

In [101]:
s|s2

{1, 2, 3, 4, 5, 10, 55}

In [102]:
s.intersection(s2)

{2, 3, 4}

In [103]:
s - s2

{1, 5, 10, 55}

In [104]:
s ^ s2

{1, 5, 10, 55}

In [105]:
s>s2

True

In [106]:
s<s2

False