# Python connection with MySQL

### Create database

In [ ]:
import mysql.connector as conn
conn = conn.connect(host='localhost', user = 'root', password = 'password')
cur = conn.cursor()
cur.execute('CREATE DATABASE PYDB')
cur.close()
conn.close()

### Show databases

In [1]:
import mysql.connector as conn
conn = conn.connect(host='localhost', user = 'root', password = 'M@rs6277')
cur = conn.cursor()
cur.execute('SHOW DATABASES')
print(cur.fetchall())
cur.close()
conn.close()

[('bigdata',), ('db',), ('information_schema',), ('mysql',), ('newschema',), ('performance_schema',), ('pydb',), ('sys',)]

### Create table

In [5]:
import mysql.connector as conn
conn = conn.connect(host='localhost', user = 'root', password = 'M@rs6277', db = 'PYDB')
cur = conn.cursor()
cur.execute('''CREATE TABLE `PYTB`(ID INT, NAME VARCHAR(20), DOB TIMESTAMP) ''')
cur.close()
conn.close()

### Show table

In [17]:
import mysql.connector as conn
conn = conn.connect(host='localhost', user = 'root', password = 'M@rs6277', db = 'PYDB')
cur = conn.cursor()
cur.execute('''SHOW TABLES''')
print(cur.fetchall())
cur.close()
conn.close()

[('pytb',)]

### INSERT INTO TABLE

In [12]:
import mysql.connector as conn
conn = conn.connect(host='localhost', user = 'root', password = 'M@rs6277', db = 'PYDB')
cur = conn.cursor()
cur.execute(''' INSERT INTO PYTB(ID, NAME, DOB) VALUES(1, 'AYAN', 20201116),
                                                      (2, 'NUMAN', 20201002),
                                                      (3,'HAROON', 20201003)''')
# print(cur.fetchall())
conn.commit()
cur.close()
conn.close()

### SELECT * FROM TABLE

In [13]:
import mysql.connector as conn
conn = conn.connect(host='localhost', user = 'root', password = 'M@rs6277', db = 'PYDB')
cur = conn.cursor()
cur.execute('SELECT * FROM PYTB')
for i in cur.fetchall():
    print(i)
cur.close()
conn.close()

(1, 'AYAN', datetime.datetime(2020, 11, 16, 0, 0))
(2, 'NUMAN', datetime.datetime(2020, 10, 2, 0, 0))
(3, 'HAROON', datetime.datetime(2020, 10, 3, 0, 0))

In [14]:
import mysql.connector as conn
conn = conn.connect(host='localhost', user = 'root', password = 'M@rs6277', db = 'PYDB')
cur = conn.cursor()
cur.execute('SELECT * FROM PYTB')
data = cur.fetchall()
cur.close()
conn.close()

In [15]:
data

[(1, 'AYAN', datetime.datetime(2020, 11, 16, 0, 0)),
 (2, 'NUMAN', datetime.datetime(2020, 10, 2, 0, 0)),
 (3, 'HAROON', datetime.datetime(2020, 10, 3, 0, 0))]

In [16]:
for i in data:
    print(i)

(1, 'AYAN', datetime.datetime(2020, 11, 16, 0, 0))
(2, 'NUMAN', datetime.datetime(2020, 10, 2, 0, 0))
(3, 'HAROON', datetime.datetime(2020, 10, 3, 0, 0))

In [19]:
import pandas as pd

In [21]:
df = pd.DataFrame(data, columns = ['ID', 'Name', 'DOB'])
df

   ID    Name        DOB
0   1    AYAN 2020-11-16
1   2   NUMAN 2020-10-02
2   3  HAROON 2020-10-03

In [22]:
df.dtypes

ID               int64
Name            object
DOB     datetime64[ns]
dtype: object