# Python with sqlite3

In [ ]:
import sqlite3

## Create database db.db and create table TB

In [ ]:
conn = sqlite3.connect('db.db')
cur = conn.cursor()
cur.execute('''CREATE TABLE IF NOT EXISTS TB(ID INT, NAME VARCHAR(20), DOB TIMESTAMP)''')
cur.close()
conn.close()

## Insert into table

In [ ]:
conn = sqlite3.connect('db.db')
cur = conn.cursor()
cur.execute('''INSERT INTO TB VALUES(1, 'AYAN', 20201010),
                                    (2, 'AYMAN', 20201002),
                                    (3, 'HAROON', 20200101)''')
conn.commit()
cur.close()
conn.close()

## Select * from table

In [ ]:
conn = sqlite3.connect('db.db')
cur = conn.cursor()
cur.execute('''SELECT * FROM TB''')
for i in cur.fetchall():
    print(i)
cur.close()
conn.close()

In [ ]:
conn = sqlite3.connect('db.db')
cur = conn.cursor()
cur.execute('''SELECT * FROM TB''')
data = cur.fetchall()
cur.close()
conn.close()

In [ ]:
data

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df.columns = ['ID', 'Name', 'DOB']

In [ ]:
df

In [ ]:
import os

#### Interrupt and restart kernel to delete db file.

In [ ]:
os.remove('db.db')